/* Pizza.css */
body {
    background-color: darkblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: snow;
    text-align: center;
}

div {
    color: lightyellow;
    font-family: monospace;
}

#menuBG {
    max-width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 10px;
}

#frmMenu {
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.menu {
    flex: 1;
    padding: 10px;
}

#cart {
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

#btnOrder {
    display: block;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    text-align: center;
}